*, *::after, *::before { box-sizing: inherit; }

html
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

canvas
{
    image-rendering: pixelated;
}